**/Debug/
**/Release/
**/bin/
**/obj/
*.bak
*.o
*.elf
*.list
*.map
*.hex
*.bin
*.d
.metadata/
.settings/
*.launch
proj_env/
__pycache__/
*.py[cod]
*$py.class
*.pcm
*.raw_opus
*.wav
!libopus-0.dll
!README.md
!requirements.txt